# DATABASE_URL=mysql://root:@localhost:3306/sevenext
DATABASE_URL=postgresql://postgres:12345@localhost:5432/sevenext
JWT_SECRET=super-secret-jwt-key-change-this-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=43200
CORS_ALLOWED_ORIGINS="http://13.233.199.134"
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID_HERE
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN_HERE
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID_HERE
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET_HERE
TWILIO_PHONE_NUMBER=YOUR_TWILIO_PHONE_NUMBER_HERE
DELHIVERY_TOKEN = "YOUR_DELHIVERY_TOKEN_HERE"
DELHIVERY_PICKUP_PIN = "600018"  # your warehouse pincode
DELHIVERY_BASE_URL=https://staging-express.delhivery.com
BASE_URL=http://13.233.199.134
app.add_middleware(
    CORSMiddleware,
    allow_origins=allowed_origins,
    allow_credentials=True,
    allow_methods=["*"],